<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of all available Jobs</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
This is list of all jobs
	<p th:text="${status}" />
	<table>
		<tr>
			<th>ID</th>
			<th>job name</th>
			<th>due Date</th>
			<th>action</th>
		</tr>
		<tr th:each="job: ${jobsList}">
			<td th:text="${job.jobId}" />
			<td th:text="${job.jobName}" />
			<td th:text="${job.dueDate}" />
			<td>
				<form id="addJob" th:action="@{/allJobs/}" method="post"	accept-charset="utf-8">
					<input type="hidden" name="id_job" th:value="${job.jobId}" /> 
					<input type="submit" value="Add to database" />
				</form>
			</td>
		</tr>
	</table>
	and this is end
</body>
</html>