<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of all available Jobs</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
</style>

</head>
<body>  
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Job extractor</h1>
      <p class="lead text-muted">Welcome to the Job extractor. Here you can view and save jobs from Lionbridge Content API to database. In database you can delete jobs.</p>
      <p>
        <a href="/allJobs" class="btn btn-primary my-2">Lionbridge Content API</a>
        <a href="/savedJobs" class="btn btn-secondary my-2">Database</a>
      </p>
    </div>
  </section>
</main> 	
<b><p th:text="${status}"/></b>
	<table class="zui-table">
		<tr>
			<th>ID</th>
			<th>job name</th>
			<th>due Date</th>
			<th>action</th>
		</tr>
		<tr th:each="job: ${jobsList}">
			<td><a th:href="@{/job(id=${job.jobId})}" th:text="${job.jobId}" /></a></td>
			<td th:text="${job.jobName}" />
			<td th:text="${job.dueDate}" />
			<td>
				<form id="addJob" th:action="@{/allJobs/}" method="post"	accept-charset="utf-8">
					<input type="hidden" name="id_job" th:value="${job.jobId}" /> 
					<input type="submit" value="Add to database" />
				</form>
			</td>
		</tr>
	</table>
</body>
</html>