<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Detailed information about job</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>  

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Job extractor</h1>
      <p class="lead text-muted">Welcome to the Job extractor. Here you can view and save jobs from Lionbridge Content API to database. In database you can delete jobs.</p>
      <p>
        <a href="/allJobs" class="btn btn-primary my-2">Lionbridge Content API</a>
        <a href="/savedJobs" class="btn btn-secondary my-2">Database</a>
      </p>
    </div>
  </section>
</main> 
<table class="zui-table">
	<a href="/allJobs">Back</a>
	<br/><br/>
	<tr><td>job id - </td><td><p th:text="${job.jobId}" /></td></tr>
	<tr><td>job name - </td><td><p th:text="${job.jobName}" /></td></tr>
	<tr><td>description - </td><td><p th:text="${job.description}" /></td></tr>
	<tr><td>status code - </td><td><p th:text="${job.statusCode.statusCode}" /></td></tr>
	<tr><td>has error - </td><td><p th:text="${job.hasError}" /></td></tr>
	<tr><td>submitted id - </td><td><p th:text="${job.submitterId}" /></td></tr>
	<tr><td>createor id - </td><td><p th:text="${job.creatorId}" /></td></tr>
	<tr><td>provider id - </td><td><p th:text="${job.providerId}" /></td></tr>
	<tr><td>poReference - </td><td><p th:text="${job.poReference}" /></td></tr>
	<tr><td>due date - </td><td><p th:text="${job.dueDate}" /></td></tr>
	<tr><td>create date - </td><td><p th:text="${job.createdDate}" /></td></tr>
	<tr><td>modified date - </td><td><p th:text="${job.modifiedDate}" /></td></tr>
	<tr><td>archived - </td><td><p th:text="${job.archived}" /></td></tr>

</table>
</body>
</html>